.header__inner {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: transparent;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 3.5rem 0rem 4rem 0rem;
  font-size: 1.7rem; }
  @media (max-width: 991px) {
    .header__inner {
      padding: 1rem 0rem 1rem 0rem;
      justify-content: center; } }

.header__logo {
  margin-right: 6.6rem; }
  @media (max-width: 1599px) {
    .header__logo {
      margin-right: 5rem; } }
  @media (max-width: 1199px) {
    .header__logo {
      margin-right: 0; } }
  @media (max-width: 991px) {
    .header__logo {
      order: 2; } }

.header__logo-img {
  width: 141.72px;
  height: 45px; }
  @media (max-width: 1199px) {
    .header__logo-img {
      width: 106.72px;
      height: 35px; } }

@media (max-width: 991px) {
  .header__nav {
    display: none; } }

.header__nav-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 13.5rem; }
  @media (max-width: 1599px) {
    .header__nav-container {
      margin-right: 2.5rem; } }
  @media (max-width: 1199px) {
    .header__nav-container {
      margin-right: 0rem; } }

.header__nav-item {
  margin-right: 2rem;
  margin-left: 2rem; }
  @media (max-width: 1199px) {
    .header__nav-item {
      margin-right: 1.5rem;
      margin-left: 1.5rem; } }
  @media (max-width: 991px) {
    .header__nav-item {
      margin-left: 1rem;
      margin-right: 1rem; } }

.header__nav-link {
  font-size: 1.7rem;
  color: #000;
  font-family: 'Raleway';
  font-weight: 500;
  line-height: 1.2; }
  .header__nav-link--tel {
    color: rgba(0, 0, 0, 0.4); }
  @media (max-width: 1199px) {
    .header__nav-link {
      font-size: 1.5rem; } }

.header__buttons {
  position: absolute;
  right: 15px; }
  @media (max-width: 991px) {
    .header__buttons {
      top: 22.5px; } }

.header__buttons-item {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  margin-right: 3rem;
  outline: none; }
  @media (max-width: 1119px) {
    .header__buttons-item {
      margin-right: 1.5rem; } }
  @media (max-width: 768px) {
    .header__buttons-item {
      margin-right: 0; }
      .header__buttons-item--hidden {
        display: none; } }
  .header__buttons-item:last-child {
    margin-right: 0; }

.header__buttons-icon {
  height: 20px;
  width: 20px; }
  .header__buttons-icon:hover {
    fill: #1A1A1A; }
  @media (max-width: 991px) {
    .header__buttons-icon {
      height: 15px;
      width: 15px; } }

@media (min-width: 991px) {
  .burger {
    display: none; } }

.menu {
  position: absolute;
  left: -30px;
  top: 0;
  z-index: 1;
  width: 30%;
  height: 100vh;
  background-color: #fff;
  transition: transform 0.4s ease;
  transform: translateX(-100%); }
  @media (max-width: 768px) {
    .menu {
      width: 100%; } }

.menu__active {
  transform: translateX(0%);
  overflow: hidden; }
  @media (max-width: 768px) {
    .menu__active {
      left: 0; } }

.menu__list {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh; }

.menu__list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #000;
  padding: 2.2rem 1.2rem; }

.menu__list-nav {
  position: relative;
  z-index: 1000; }

.menu__list-footer {
  position: absolute;
  bottom: 65px;
  left: 15px; }

.menu__btn {
  width: 30px;
  height: 30px;
  position: absolute;
  right: -60px;
  top: 17px; }

.menu__close {
  width: 18px;
  padding: 0;
  margin: 0;
  position: relative;
  border: none;
  transition: transform 0.2s linear; }
  .menu__close > span::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #000;
    transform: rotate(45deg); }
  .menu__close > span::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #000;
    transform: rotate(-45deg); }
  .menu__close:hover {
    transform: rotate(15deg); }

.menu__close-img {
  width: 15px;
  height: 14px;
  transition: transform 0.2s linear; }
  .menu__close-img:hover {
    transform: rotate(15deg); }

.menu__input {
  width: 100%;
  border: none;
  background: none;
  margin: 0 1.2rem;
  outline: none; }

.menu__nav-item {
  display: flex;
  justify-content: space-between;
  margin: 2.4rem 1.6rem; }

.menu__nav-link {
  font-size: 1.7rem;
  font-family: "Raleway";
  font-weight: 500;
  color: #000; }

.menu__nav-img {
  width: 15px;
  height: 13px; }

.no-scroll {
  overflow: hidden; }

.container {
  max-width: 1430px;
  width: 100%;
  margin: 0 auto;
  padding-left: 3rem;
  padding-right: 3rem; }
  @media (max-width: 768px) {
    .container--active {
      padding-left: 0;
      padding-right: 0; } }

.black__button,
.white__button {
  position: relative;
  display: flex;
  align-items: center;
  background-color: #000;
  border: none;
  font-size: 1.7rem;
  font-family: 'Inter';
  font-weight: 400;
  color: #fff;
  padding: 1.8rem 2.4rem;
  cursor: pointer;
  transition: color .2s linear, transform .3s linear; }
  .black__button::after,
  .white__button::after {
    content: "";
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: gray;
    bottom: 0;
    left: 0;
    opacity: 0;
    transition: opacity .2s linear; }
  .black__button:hover,
  .white__button:hover {
    color: rgba(255, 255, 255, 0.8);
    transform: translateY(-2px); }
    .black__button:hover::after,
    .white__button:hover::after {
      opacity: 1;
      transform: translateY(2px); }
  .black__button--active,
  .white__button--active {
    color: rgba(255, 255, 255, 0.5); }
  .black__button--call,
  .white__button--call {
    width: 380px;
    justify-content: center;
    margin-top: 5rem; }
    @media (max-width: 1199px) {
      .black__button--call,
      .white__button--call {
        width: 100%; } }
  .black__button--full,
  .white__button--full {
    width: 100%;
    display: flex;
    justify-content: center; }
  @media (max-width: 1199px) {
    .black__button,
    .white__button {
      font-size: 1.5rem;
      padding: 1.6rem 2.2rem; } }
  @media (max-width: 499px) {
    .black__button,
    .white__button {
      justify-content: center;
      width: 100%; } }

.black__button > a {
  color: #fff; }

.white__button {
  background-color: #fff;
  color: #000; }
  .white__button--active {
    color: rgba(0, 0, 0, 0.418); }
  .white__button--footer {
    display: none;
    order: 3;
    margin-top: 4rem; }
    @media (max-width: 768px) {
      .white__button--footer {
        display: block; } }
  .white__button--product {
    position: absolute;
    top: 40%;
    left: 75px; }
    @media (max-width: 768px) {
      .white__button--product {
        display: none; } }
  .white__button:hover {
    color: rgba(0, 0, 0, 0.8);
    transform: translateY(-2px); }
    .white__button:hover::after {
      opacity: 1;
      transform: translateY(2px); }

.black__button-img {
  margin-left: 0.8rem; }
  @media (max-width: 1199px) {
    .black__button-img {
      width: 10px;
      height: 8px; } }

.up__button {
  font-size: 1.7rem;
  color: rgba(255, 255, 255, 0.4);
  font-family: 'Inter';
  border: none;
  background: none;
  cursor: pointer;
  position: absolute;
  bottom: 0;
  right: 0; }
  @media (max-width: 768px) {
    .up__button--footer {
      display: none; } }
  .up__button > a {
    color: rgba(255, 255, 255, 0.4);
    text-decoration: none; }

.page__upload-btn {
  padding: 1.5rem;
  font-size: 1.7rem;
  color: #000;
  border: 1px solid #000;
  background: none;
  cursor: pointer;
  display: block;
  width: 100%;
  transition: color .2s linear, background-color .2s linear; }
  .page__upload-btn:hover {
    background-color: #000;
    color: #fff; }

.load-more__button {
  width: 100%;
  background-color: #F4F4F4;
  border: none;
  font-size: 1.7rem;
  font-family: 'Raleway';
  font-weight: 500;
  color: #000;
  padding: 2rem 1.5rem;
  transition: background-color .2s linear; }
  .load-more__button:hover {
    background-color: #EBEBEB;
    cursor: pointer; }
  .load-more__button--active {
    color: rgba(0, 0, 0, 0.5); }
  @media (max-width: 991px) {
    .load-more__button {
      font-size: 1.6rem; } }
  @media (max-width: 768px) {
    .load-more__button {
      font-size: 1.5rem; } }
  @media (max-width: 499px) {
    .load-more__button {
      font-size: 1.4rem; } }

.product__favourite {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  font-size: 1.7rem;
  color: #000;
  font-family: 'Inter'; }
  .product__favourite > svg {
    margin-right: 0.8rem; }
  @media (max-width: 768px) {
    .product__favourite {
      display: block;
      width: 100%;
      text-align: center;
      margin: 2rem 0; } }

.call__widget {
  position: fixed;
  right: 85px;
  bottom: 19px;
  z-index: 2; }
  @media (max-width: 1199px) {
    .call__widget {
      right: 40px;
      bottom: 5px; } }
  @media (max-width: 991px) {
    .call__widget {
      right: 13px;
      bottom: 2px; } }

.call__button {
  border: none;
  background: none;
  outline: none; }
  .call__button:hover .call__img {
    transform: translateY(-2px);
    cursor: pointer; }

.call__img {
  position: relative;
  bottom: -20px;
  transition: transform .2s linear; }
  @media (max-width: 991px) {
    .call__img {
      width: 80px;
      height: 80px;
      bottom: -20px; } }
  @media (max-width: 768px) {
    .call__img {
      bottom: 0px; } }

.call__button-text {
  font-size: 1.4rem;
  font-family: 'Raleway';
  font-weight: 500;
  text-align: center; }
  @media (max-width: 991px) {
    .call__button-text {
      font-size: 1rem; } }
  @media (max-width: 768px) {
    .call__button-text {
      display: none; } }

.modal__panel {
  display: none;
  transition: background-color .2s linear;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 100; }
  .modal__panel--opened {
    display: block;
    background-color: rgba(0, 0, 0, 0.3);
    overflow: hidden; }

.modal__container {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 40%;
  background-color: #fff;
  padding: 5rem;
  transition: 2s;
  transform: translateX(100%);
  overflow: auto; }
  .modal__container--opened {
    display: block;
    transform: translateX(0%);
    overflow: hidden; }
  @media (max-width: 768px) {
    .modal__container {
      width: 70%; } }
  @media (max-width: 499px) {
    .modal__container {
      width: 100%; } }

.modal__close {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  border: none;
  background: none;
  padding: 0;
  margin: 0; }
  @media (max-width: 768px) {
    .modal__close {
      position: relative;
      top: -15px;
      right: -15px; } }

.modal__close-img {
  width: 16px;
  height: 16px;
  transition: transform .2s linear;
  cursor: pointer; }
  .modal__close-img:hover {
    transform: rotate(15deg); }
  @media (max-width: 991px) {
    .modal__close-img {
      width: 14px;
      height: 15px; } }
  @media (max-width: 768px) {
    .modal__close-img {
      width: 14px;
      height: 14px; } }

.modal__title {
  font-size: 3rem;
  font-family: 'Raleway';
  font-weight: 500;
  color: #000;
  text-align: center;
  margin-bottom: 3rem; }
  .modal__title--mail {
    text-align: left;
    font-weight: 700; }
  .modal__title--review {
    text-align: left; }
  @media (max-width: 1199px) {
    .modal__title {
      font-size: 2.5rem; } }
  @media (max-width: 991px) {
    .modal__title {
      font-size: 1.9rem; } }
  @media (max-width: 768px) {
    .modal__title {
      font-size: 1.5rem; } }
  @media (max-width: 499px) {
    .modal__title {
      font-size: 2rem; } }

.modal__block {
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  align-items: center;
  width: 100%; }

.modal__block-bottom {
  max-width: 380px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 2rem; }

.modal__block-top {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  padding-top: 2rem; }

.modal__block-text {
  max-width: 380px;
  font-size: 1.5rem;
  font-family: 'Inter';
  font-weight: 400;
  color: rgba(0, 0, 0, 0.3);
  margin-bottom: 3rem; }
  @media (max-width: 991px) {
    .modal__block-text {
      font-size: 1rem; } }

.modal__product {
  display: flex;
  flex-direction: column;
  margin: 2rem 0rem; }

.modal__product-info {
  display: flex;
  justify-content: space-between;
  border: 1px solid #000;
  margin-top: -.3rem;
  padding: 1.5rem; }

.modal__product-name {
  padding: 0;
  margin: 0;
  font-size: 1.2rem;
  color: #000;
  font-family: 'Inter';
  font-weight: 400; }
  @media (max-width: 768px) {
    .modal__product-name {
      font-size: 1.1rem; } }

.modal__product-price {
  margin: 0;
  padding: 0;
  font-size: 1.2rem;
  font-family: 'Inter';
  font-weight: 400; }
  @media (max-width: 768px) {
    .modal__product-price {
      font-size: 1.1rem; } }

.modal__mail {
  display: none;
  transition: background-color .2s linear;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 100; }
  .modal__mail--opened {
    display: block;
    background-color: rgba(0, 0, 0, 0.3);
    overflow: hidden; }

.modal__mail-container {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 40%;
  background-color: #fff;
  padding: 5rem;
  transition: 2s;
  transform: translateX(100%);
  overflow: auto; }
  .modal__mail-container--opened {
    display: block;
    transform: translateX(0%); }
  @media (max-width: 768px) {
    .modal__mail-container {
      width: 100%; } }

.modal__mail-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.modal__mail-close {
  position: relative; }

.modal__mail-btn {
  position: absolute;
  top: -15px;
  right: -15px;
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  transition: transform .2s linear;
  cursor: pointer; }
  .modal__mail-btn:hover {
    transform: rotate(15deg); }

.modal__mail-img {
  width: 16px;
  height: 16px; }

.modal__mail-top {
  margin: 0rem -5rem; }

.modal__mail-bg {
  margin-top: 3rem;
  width: 100%;
  height: auto; }

.modal__mail-main {
  display: flex;
  max-width: 380px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5rem 0rem; }

.modal__subtitle {
  font-size: 1.7rem;
  font-weight: 400;
  font-family: 'Inter';
  color: #000; }

.modal__review {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.3); }
  .modal__review--closed {
    display: none; }

.modal__review-content {
  background-color: #fff;
  padding: 4rem 3rem;
  margin-top: -0.3rem; }

.modal__review-header {
  position: relative; }

.modal__review-exit {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 25px;
  height: 25px;
  background: none;
  border: none;
  transition: transform .2s linear;
  cursor: pointer; }
  .modal__review-exit:hover {
    transform: rotate(15deg); }

.search {
  display: none; }
  .search--active {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 1000;
    top: 0;
    left: 0;
    overflow: hidden;
    display: block; }

.search__inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  margin-top: 5rem; }

.search__input {
  width: 100%;
  font-family: 'Raleway';
  font-size: 5.5rem;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  outline: none;
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: #000;
  font-weight: 500; }
  .search__input::-moz-placeholder {
    position: relative;
    font-family: 'Raleway';
    font-size: 5.5rem;
    color: rgba(0, 0, 0, 0.2);
    font-weight: 500; }
  .search__input:-ms-input-placeholder {
    position: relative;
    font-family: 'Raleway';
    font-size: 5.5rem;
    color: rgba(0, 0, 0, 0.2);
    font-weight: 500; }
  .search__input::placeholder {
    position: relative;
    font-family: 'Raleway';
    font-size: 5.5rem;
    color: rgba(0, 0, 0, 0.2);
    font-weight: 500; }
    @media (max-width: 991px) {
      .search__input::-moz-placeholder {
        font-size: 4.5rem; }
      .search__input:-ms-input-placeholder {
        font-size: 4.5rem; }
      .search__input::placeholder {
        font-size: 4.5rem; } }
    @media (max-width: 768px) {
      .search__input::-moz-placeholder {
        font-size: 3rem; }
      .search__input:-ms-input-placeholder {
        font-size: 3rem; }
      .search__input::placeholder {
        font-size: 3rem; } }
    @media (max-width: 499px) {
      .search__input::-moz-placeholder {
        font-size: 2.5rem; }
      .search__input:-ms-input-placeholder {
        font-size: 2.5rem; }
      .search__input::placeholder {
        font-size: 2.5rem; } }
  @media (max-width: 991px) {
    .search__input {
      font-size: 4.5rem; } }
  @media (max-width: 768px) {
    .search__input {
      font-size: 3rem; } }
  @media (max-width: 499px) {
    .search__input {
      font-size: 2.5rem; } }

.search__close {
  display: flex;
  justify-content: flex-end; }
  .search__close > button {
    border: none;
    background: none;
    transition: transform .2s linear; }
    .search__close > button:hover {
      transform: rotate(15deg); }

.search__close-img {
  width: 16px;
  height: 16px; }

.search__offer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 4.5rem 0rem;
  display: none; }
  .search__offer--active {
    display: flex; }

.search__offer-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem;
  transition: background-color .2s linear; }
  .search__offer-item:hover {
    background-color: #F4F4F4; }
  @media (max-width: 499px) {
    .search__offer-item {
      padding: 1.5rem 0rem; } }

.search__offer-left {
  display: flex;
  align-items: center; }
  .search__offer-left > img {
    margin-right: 2.5rem; }
    @media (max-width: 499px) {
      .search__offer-left > img {
        margin-right: 1.5rem; } }

.search__offer-prev {
  width: 50px;
  height: 50px; }
  @media (max-width: 499px) {
    .search__offer-prev {
      width: 40px;
      height: 40px; } }

.search__offer-name {
  font-size: 2rem;
  font-family: 'Raleway';
  font-weight: 500;
  color: #000; }
  @media (max-width: 499px) {
    .search__offer-name {
      font-size: 1.5rem; } }

.search__offer-price {
  font-size: 2rem;
  font-family: 'Raleway';
  font-weight: 500;
  color: rgba(0, 0, 0, 0.4); }
  @media (max-width: 499px) {
    .search__offer-price {
      font-size: 1.5rem; } }

.main {
  padding-bottom: 23rem; }
  @media (max-width: 1199px) {
    .main {
      padding-bottom: 10rem; } }
  @media (max-width: 991px) {
    .main {
      padding-bottom: 7rem; } }

@media (max-width: 768px) {
  .main__inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between; } }

.main__bg {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1; }
  @media (max-width: 768px) {
    .main__bg {
      display: none; } }

.main__title {
  margin-top: 9rem;
  font-size: 6.5rem;
  font-family: 'Raleway';
  font-weight: 500;
  color: #000;
  line-height: 1.3; }
  @media (max-width: 1599px) {
    .main__title {
      font-size: 5.5rem;
      margin-top: 5rem;
      margin-bottom: 2rem; } }
  @media (max-width: 1199px) {
    .main__title {
      font-size: 4rem;
      margin-top: 3rem; } }
  @media (max-width: 991px) {
    .main__title {
      font-size: 3rem; } }

.main__text {
  width: 53%;
  margin-bottom: 7rem; }
  @media (max-width: 1599px) {
    .main__text {
      margin-bottom: 2rem;
      width: 52%; } }
  @media (max-width: 768px) {
    .main__text {
      width: 100%; } }

.about {
  padding: 8rem 0rem; }
  @media (max-width: 768px) {
    .about {
      padding: 2rem 0; } }

.about__inner {
  display: flex;
  justify-content: flex-start; }

.about__nav {
  padding-top: 7rem;
  width: 20%; }
  @media (max-width: 991px) {
    .about__nav {
      display: none; } }

.about__brand {
  width: 40%;
  margin-left: 10rem; }
  @media (max-width: 1199px) {
    .about__brand {
      width: 100%;
      margin-left: 0; } }
  .about__brand--secondary {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto; }

.about__nav-item {
  margin-bottom: 1.5rem; }
  .about__nav-item:last-child {
    margin-bottom: 0; }

.about__nav-link {
  font-size: 1.7rem;
  color: rgba(0, 0, 0, 0.4);
  font-family: 'Raleway';
  font-weight: 500; }
  .about__nav-link:hover {
    color: #000; }

.about__brand-title {
  font-size: 5.5rem;
  font-family: 'Raleway';
  font-weight: 500; }
  @media (max-width: 991px) {
    .about__brand-title {
      font-size: 5rem; } }
  @media (max-width: 768px) {
    .about__brand-title {
      font-size: 4.5rem; } }
  @media (max-width: 499px) {
    .about__brand-title {
      font-size: 4rem; } }

.about__brand-subtitle {
  font-size: 3rem;
  color: #000;
  font-family: 'Raleway';
  font-weight: 500;
  margin: 4rem 0rem 3rem; }

.about__brand-text {
  font-size: 1.7rem;
  font-weight: 400;
  font-family: 'Inter';
  line-height: 1.3; }

.about__brand-interior {
  font-size: 1.5rem;
  font-family: 'Inter';
  color: rgba(0, 0, 0, 0.3);
  margin: 1rem 0; }

.about__brand-card {
  background-color: #F4F4F4;
  padding: 5rem 8rem; }
  @media (max-width: 991px) {
    .about__brand-card {
      padding: 1rem 2rem; } }

.about__brand-list {
  display: flex;
  align-items: flex-start;
  margin-left: 2rem;
  position: relative;
  font-size: 1.7rem;
  font-family: 'Inter';
  font-weight: 400;
  color: #000;
  margin-bottom: 2rem; }
  .about__brand-list::before {
    content: "";
    display: block;
    position: absolute;
    left: -20px;
    top: 5px;
    width: 7px;
    height: 7px;
    background-color: #000;
    border-radius: 50%; }
  @media (max-width: 768px) {
    .about__brand-list {
      font-size: 1.5rem; } }

.stocks {
  padding: 8rem 0rem; }
  @media (max-width: 768px) {
    .stocks {
      padding: 2rem 0; } }

.interior {
  margin-top: 8.5rem; }
  @media (max-width: 768px) {
    .interior {
      margin-top: 6rem; } }

.interior__block {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-bottom: 6rem; }
  @media (max-width: 1199px) {
    .interior__block {
      flex-direction: column;
      align-items: center; } }

.interior__photo {
  width: 45%; }
  @media (max-width: 1199px) {
    .interior__photo {
      width: 80%; } }
  @media (max-width: 991px) {
    .interior__photo {
      width: 85%; } }
  @media (max-width: 768px) {
    .interior__photo {
      width: 90%; } }
  @media (max-width: 499px) {
    .interior__photo {
      width: 100%; } }

.interior__info {
  width: 47%; }
  @media (max-width: 1199px) {
    .interior__info {
      width: 80%; } }
  @media (max-width: 991px) {
    .interior__info {
      width: 85%; } }
  @media (max-width: 768px) {
    .interior__info {
      width: 90%; } }
  @media (max-width: 499px) {
    .interior__info {
      width: 100%; } }

.interior__title {
  font-size: 5.5rem;
  color: #000;
  font-family: 'Raleway';
  font-weight: 500;
  margin-top: 1.7rem;
  margin-bottom: 3rem; }
  @media (max-width: 1199px) {
    .interior__title {
      font-size: 4.5rem;
      line-height: 1; } }
  @media (max-width: 991px) {
    .interior__title {
      font-size: 4rem; } }
  @media (max-width: 768px) {
    .interior__title {
      font-size: 3.5rem; } }
  @media (max-width: 499px) {
    .interior__title {
      font-size: 3rem; } }

.interior__text {
  font-size: 1.7rem;
  font-family: 'Inter';
  font-weight: 400;
  color: #000;
  line-height: 1.5;
  margin-bottom: 9rem; }
  @media (max-width: 1199px) {
    .interior__text {
      font-size: 1.5rem;
      line-height: 1.3;
      margin-bottom: 5rem; } }
  @media (max-width: 991px) {
    .interior__text {
      margin-bottom: 4rem; } }

.interior__cards {
  display: flex;
  justify-content: space-around;
  margin-top: 5rem;
  margin-bottom: 7.5rem;
  flex-wrap: wrap; }

.interior__cards-item {
  margin-bottom: 4.5rem; }
  @media (max-width: 991px) {
    .interior__cards-item {
      margin-left: 1rem;
      margin-right: 1rem; } }

.interior__cards-img {
  width: 90%;
  margin-bottom: 2rem; }
  @media (max-width: 991px) {
    .interior__cards-img {
      width: 100%; } }

.interior__cards-bottom {
  display: flex;
  margin-bottom: 1rem; }

.interior__cards-text {
  font-size: 1.7rem;
  font-family: 'Raleway';
  font-weight: 500;
  color: #000; }

.interior__cards-number {
  font-size: 1.7rem;
  font-family: 'Raleway';
  font-weight: 500;
  color: rgba(0, 0, 0, 0.4);
  margin-left: 1rem; }

.contact__inner {
  padding: 8rem 0rem; }
  @media (max-width: 768px) {
    .contact__inner {
      padding: 2rem 0; } }

.contact__map {
  filter: grayscale(1);
  -ms-filter: grayscale(1);
  -webkit-filter: grayscale(1);
  -moz-filter: grayscale(1);
  -o-filter: grayscale(1); }
  @media (max-width: 1199px) {
    .contact__map {
      max-height: 300px; } }
  @media (max-width: 768px) {
    .contact__map {
      max-height: 270px; } }
  @media (max-width: 499px) {
    .contact__map {
      max-height: 240px; } }

.contact__map-container {
  position: relative;
  z-index: -1; }
  .contact__map-container::before {
    content: "";
    display: block;
    background-color: transparent;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2; }

.contact__table {
  display: flex;
  flex-direction: column;
  margin: 5rem 0; }

.contact__table-item {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 5rem 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
  .contact__table-item--first {
    display: flex;
    justify-content: space-around;
    width: 50%; }
    @media (max-width: 991px) {
      .contact__table-item--first {
        width: 100%;
        justify-content: center; }
        .contact__table-item--first > .contact__table-name, .contact__table-item--first .contact__table-schedule {
          margin-top: 2rem;
          width: 50%;
          text-align: center; } }
    @media (max-width: 499px) {
      .contact__table-item--first {
        flex-direction: column;
        align-items: center; }
        .contact__table-item--first > .contact__table-name, .contact__table-item--first .contact__table-schedule {
          margin-top: 2rem;
          width: 100%;
          text-align: center; } }
  .contact__table-item--second {
    display: flex;
    justify-content: space-around;
    width: 50%; }
    @media (max-width: 991px) {
      .contact__table-item--second {
        width: 100%;
        justify-content: center; }
        .contact__table-item--second > .contact__table-info, .contact__table-item--second .contact__table-map {
          margin-top: 2rem;
          width: 50%;
          text-align: center; } }
    @media (max-width: 499px) {
      .contact__table-item--second {
        flex-direction: column;
        align-items: center; }
        .contact__table-item--second > .contact__table-info, .contact__table-item--second .contact__table-map {
          margin-top: 2rem;
          width: 100%;
          text-align: center; } }
  .contact__table-item:nth-child(even) {
    border-top: none;
    border-bottom: none; }

.contact__table-name {
  width: 25%; }

.contact__name-top {
  font-size: 1.7rem;
  font-family: 'Inter';
  font-weight: 400;
  color: rgba(0, 0, 0, 0.4);
  margin-bottom: 1rem; }
  @media (max-width: 499px) {
    .contact__name-top {
      font-size: 1.5rem; } }

.contact__address {
  font-size: 2rem;
  color: #000;
  font-family: 'Raleway';
  font-weight: 500; }

.contact__links {
  display: flex;
  flex-direction: column; }
  .contact__links > a {
    font-size: 2rem;
    color: #000;
    font-family: 'Raleway';
    margin-bottom: 1rem; }
    .contact__links > a:last-child {
      margin-bottom: 0; }

.authors {
  padding: 8rem 0rem; }
  @media (max-width: 768px) {
    .authors {
      padding: 2rem 0; } }

.authors__buttons {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
  margin: 1.5rem 0; }

.authors__choice {
  border: none;
  background-color: #F4F4F4;
  color: #000;
  padding: 1.2rem 2rem;
  border-radius: 100px;
  margin-right: 1.5rem;
  font-size: 1.7rem;
  transition: background-color .2s linear; }
  .authors__choice:last-child {
    margin-right: 0; }
  .authors__choice:hover {
    cursor: pointer;
    background-color: #EBEBEB; }
  .authors__choice--active {
    color: #fff;
    background-color: #000; }
    .authors__choice--active:hover {
      color: #fff;
      background-color: #000; }
  @media (max-width: 991px) {
    .authors__choice {
      font-size: 1.5rem;
      margin-bottom: 1rem; } }
  @media (max-width: 768px) {
    .authors__choice {
      font-size: 1.3rem;
      padding: 1rem 1.5rem; } }

.authors__photo {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; }
  @media (max-width: 991px) {
    .authors__photo {
      flex-direction: column;
      align-items: center; } }

.author__photo-item {
  margin: 5rem 0rem 3.5rem;
  width: 30%; }
  @media (max-width: 1199px) {
    .author__photo-item {
      width: 70%; } }
  @media (max-width: 991px) {
    .author__photo-item {
      width: 60%; } }
  @media (max-width: 768px) {
    .author__photo-item {
      width: 80%; } }
  @media (max-width: 499px) {
    .author__photo-item {
      width: 95%;
      margin: 2rem 0rem .5rem; } }

.author__photo-bottom {
  display: flex;
  flex-direction: column;
  align-items: flex-start; }

.aurhor__photo-name {
  margin: 2rem 0rem .5rem;
  font-size: 3rem;
  font-family: 'Raleway';
  font-weight: 500;
  color: #000; }
  @media (max-width: 991px) {
    .aurhor__photo-name {
      font-size: 2.5rem; } }
  @media (max-width: 768px) {
    .aurhor__photo-name {
      font-size: 2rem; } }
  @media (max-width: 499px) {
    .aurhor__photo-name {
      font-size: 1.8rem; } }

.author__photo-style {
  margin: .5rem 0rem;
  font-size: 1.7rem;
  color: rgba(0, 0, 0, 0.4);
  font-family: 'Raleway';
  font-weight: 500; }
  @media (max-width: 991px) {
    .author__photo-style {
      font-size: 1.6rem; } }
  @media (max-width: 768px) {
    .author__photo-style {
      font-size: 1.5rem; } }
  @media (max-width: 499px) {
    .author__photo-style {
      font-size: 1.4rem; } }

.product {
  padding: 8rem 0rem; }
  @media (max-width: 768px) {
    .product {
      padding: 2rem 0; } }

.product__header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 4rem; }

.product__header-name {
  display: flex;
  flex-direction: column;
  width: 30%;
  justify-content: space-between; }
  @media (max-width: 1199px) {
    .product__header-name {
      width: 100%;
      margin-bottom: 2rem; } }

.product__info {
  display: flex;
  flex-direction: column;
  width: 40%;
  justify-content: space-between;
  align-items: flex-start; }
  @media (max-width: 1199px) {
    .product__info {
      width: 100%;
      margin-bottom: 2rem;
      align-items: flex-end; } }

.product__buy {
  display: flex;
  flex-direction: column;
  width: 2  0%;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap; }
  @media (max-width: 1199px) {
    .product__buy {
      width: 100%;
      align-items: flex-start;
      margin-bottom: 2rem;
      flex-direction: row; } }

.product__name {
  font-size: 3rem;
  font-family: 'Raleway';
  font-weight: 500;
  color: #000; }

.product__remark {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 1.5rem;
  color: rgba(0, 0, 0, 0.4); }

.product__link {
  font-size: 1.7rem;
  color: #000;
  font-family: 'Raleway';
  font-weight: 500; }
  .product__link--top {
    order: 2; }

.product__description {
  color: #000;
  font-size: 1.7rem;
  font-family: 'Inter';
  font-weight: 400;
  line-height: 1.3; }
  @media (max-width: 768px) {
    .product__description {
      font-size: 1.6rem; } }

.product__price {
  font-size: 3rem;
  color: #000;
  font-family: 'Raleway';
  font-weight: 500; }
  @media (max-width: 768px) {
    .product__price {
      display: block;
      width: 100%;
      text-align: center;
      margin: 2rem 0; } }

.product__photo-block {
  margin: 4rem 0rem 5rem; }

.product__secondary-photo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

.product__card-photo {
  margin-top: 2rem;
  width: 49%; }
  @media (max-width: 768px) {
    .product__card-photo {
      margin-top: 1rem; }
      .product__card-photo--middle {
        display: flex;
        justify-content: center;
        width: 100%; } }

.product__card-middle {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }

.product__card-text {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  width: 49%;
  font-size: 1.7rem;
  font-family: 'Inter';
  font-weight: 400;
  color: #000;
  padding: 0rem 4rem; }
  @media (max-width: 768px) {
    .product__card-text {
      margin-top: 1rem;
      width: 100%; } }
  @media (max-width: 499px) {
    .product__card-text {
      font-size: 1.3rem;
      padding: 0; } }

.product__card-info {
  font-size: 1.7rem;
  color: #000;
  font-family: 'Inter';
  font-weight: 400; }
  @media (max-width: 991px) {
    .product__card-info {
      font-size: 1.5rem; } }
  @media (max-width: 768px) {
    .product__card-info {
      font-size: 1.7rem; } }
  @media (max-width: 499px) {
    .product__card-info {
      font-size: 1.3rem;
      padding: 0; } }

.product__set-inner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }
  @media (max-width: 991px) {
    .product__set-inner {
      justify-content: center; } }

.product__set-title {
  font-size: 3rem;
  color: #000;
  font-family: 'Raleway';
  font-weight: 500; }
  @media (max-width: 499px) {
    .product__set-title {
      margin: 2rem 0; } }

.product__set-left {
  display: flex;
  flex-direction: column;
  width: 49%;
  margin: 3.2rem 0; }
  @media (max-width: 991px) {
    .product__set-left {
      width: 100%; } }

@media (max-width: 991px) {
  .product__set-right {
    display: flex;
    justify-content: center;
    width: 100%; } }

.product__param-name {
  font-size: 1.7rem;
  color: #000;
  font-family: 'Inter';
  font-weight: 400; }
  @media (max-width: 499px) {
    .product__param-name {
      font-size: 1.3rem; } }

.product__param-value {
  font-size: 1.7rem;
  color: #000;
  font-family: 'Inter';
  font-weight: 400; }
  @media (max-width: 499px) {
    .product__param-value {
      font-size: 1.3rem; } }

.product__left-param {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: .8rem 0rem; }

.product__review {
  margin: 8rem 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }

.product__review-left {
  width: 49%; }
  @media (max-width: 991px) {
    .product__review-left {
      width: 100%;
      order: 1; } }

.product__review-info {
  color: #000;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 1.7rem; }
  @media (max-width: 499px) {
    .product__review-info {
      font-size: 1.5rem; } }

.product__review-right {
  width: 49%; }
  @media (max-width: 991px) {
    .product__review-right {
      display: flex;
      flex-direction: column;
      width: 100%;
      order: 3;
      margin-top: 2rem; } }

.product__review-top {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  @media (max-width: 499px) {
    .product__review-top {
      flex-direction: column;
      align-items: flex-start; } }

.product__review-img {
  margin: 2rem 0; }

.product__banner-img {
  position: relative; }

.product__consult {
  padding: 2rem;
  margin: 2rem 0; }
  @media (max-width: 991px) {
    .product__consult {
      background-color: #f4f4f4; } }

.product__consult-photo {
  height: 600px;
  width: auto;
  -o-object-fit: cover;
  object-fit: cover; }
  @media (max-width: 991px) {
    .product__consult-photo {
      display: none; } }

.product__consult-input {
  display: flex;
  flex-direction: column; }

.product__consult-img {
  position: relative; }

.product__consult-main {
  position: absolute;
  top: 5%;
  left: 30%; }
  @media (max-width: 991px) {
    .product__consult-main {
      position: static;
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: center; } }

.product__consult-subtitle {
  font-size: 1.7rem;
  font-weight: 400;
  font-family: 'Inter';
  color: #000;
  width: 99%;
  margin-bottom: 4rem;
  margin-top: 3rem; }
  @media (max-width: 991px) {
    .product__consult-subtitle {
      text-align: center; } }
  @media (max-width: 768px) {
    .product__consult-subtitle {
      font-size: 1.6rem; } }
  @media (max-width: 499px) {
    .product__consult-subtitle {
      font-size: 1.5rem;
      text-align: left; } }

.product__consult-title {
  font-size: 3rem;
  font-family: 'Raleway';
  font-weight: 500;
  color: #000; }
  @media (max-width: 991px) {
    .product__consult-title {
      font-size: 2.5rem; } }
  @media (max-width: 991px) {
    .product__consult-title {
      font-size: 2.2rem; } }
  @media (max-width: 991px) {
    .product__consult-title {
      font-size: 2rem; } }

.redirect {
  display: flex;
  align-items: center; }
  @media (max-width: 768px) {
    .redirect {
      margin-top: 3rem; } }

.redirect__link {
  font-size: 1.7rem;
  font-family: 'Raleway';
  font-weight: 500;
  color: #000;
  text-decoration: none;
  transition: color .2s linear, transform .2s linear; }
  .redirect__link--active {
    color: rgba(0, 0, 0, 0.5); }
  .redirect__link:hover {
    color: rgba(0, 0, 0, 0.8);
    transform: translateY(-2px); }

.redirect__img {
  margin-left: 0.8rem; }

.page--product {
  margin: 5rem 0; }

.page__block {
  margin-top: 7.5rem;
  margin-bottom: 7.5rem; }
  @media (max-width: 768px) {
    .page__block {
      margin-top: 2rem;
      margin-bottom: 2rem; } }

.page__title {
  font-size: 5.5rem;
  font-family: 'Raleway';
  font-weight: 500;
  color: #000;
  margin-bottom: 3rem; }
  @media (max-width: 1199px) {
    .page__title {
      font-size: 4.5rem;
      line-height: 1; } }
  @media (max-width: 991px) {
    .page__title {
      font-size: 4rem;
      margin-bottom: 1rem; } }
  @media (max-width: 768px) {
    .page__title {
      font-size: 3.5rem;
      margin-bottom: 1rem; } }
  @media (max-width: 499px) {
    .page__title {
      font-size: 3rem;
      text-align: left; } }

.page__middle {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 1.5rem;
  flex-wrap: wrap; }
  .page__middle--product {
    align-items: center; }

.page__text {
  font-size: 1.7rem;
  font-family: 'Inter';
  font-weight: 400;
  color: #000;
  width: 60%;
  margin-bottom: 1.5rem; }
  @media (max-width: 1199px) {
    .page__text {
      font-size: 1.6rem; } }
  @media (max-width: 991px) {
    .page__text {
      font-size: 1.5rem;
      width: 100%; } }
  @media (max-width: 768px) {
    .page__text {
      font-size: 1.4rem; } }
  @media (max-width: 499px) {
    .page__text {
      font-size: 1.3rem; } }

.page__cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 7.5rem; }

.page__card-item {
  position: relative;
  margin-top: 3.5rem; }
  @media (max-width: 1599px) {
    .page__card-item {
      margin: 3.5rem 1rem 0rem 1rem; } }

.page__card-photo {
  position: relative;
  margin-bottom: 2rem; }
  .page__card-photo::before {
    content: "";
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(216, 216, 216, 0);
    transition: background-color .2s linear; }
  .page__card-photo:hover {
    cursor: pointer; }
    .page__card-photo:hover::before {
      background-color: rgba(216, 216, 216, 0.2); }

.primary__card-bottom,
.secondary__card-bottom {
  display: flex; }

.secondary__card-bottom {
  flex-direction: column; }

.primary__card-text,
.secondary__card-text {
  font-size: 1.7rem;
  font-family: 'Raleway';
  font-weight: 500;
  color: #000; }
  @media (max-width: 991px) {
    .primary__card-text,
    .secondary__card-text {
      font-size: 1.6rem; } }
  @media (max-width: 768px) {
    .primary__card-text,
    .secondary__card-text {
      font-size: 1.5rem; } }

.secondary__card-text {
  font-size: 2rem;
  margin-top: 1rem; }
  @media (max-width: 768px) {
    .secondary__card-text {
      font-size: 1.5rem; } }

.primary__card-price,
.secondary__card-price {
  font-size: 1.7rem;
  font-family: 'Raleway';
  font-weight: 500;
  color: rgba(0, 0, 0, 0.4);
  margin-left: 1rem; }
  @media (max-width: 991px) {
    .primary__card-price,
    .secondary__card-price {
      font-size: 1.6rem; } }
  @media (max-width: 768px) {
    .primary__card-price,
    .secondary__card-price {
      font-size: 1.5rem; } }

.secondary__card-price {
  margin-left: 0;
  margin-top: 3rem; }
  @media (max-width: 768px) {
    .secondary__card-price {
      font-size: 1.3rem;
      margin-top: 1rem; } }

.page__video {
  position: relative;
  margin-top: 3.5rem;
  cursor: pointer; }
  .page__video::before {
    content: "";
    display: block;
    position: absolute;
    z-index: 2;
    display: flex;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 140px;
    height: 140px;
    background-color: #fff;
    border-radius: 50%; }
    @media (max-width: 991px) {
      .page__video::before {
        width: 110px;
        height: 110px; } }
    @media (max-width: 768px) {
      .page__video::before {
        width: 80px;
        height: 80px; } }
    @media (max-width: 499px) {
      .page__video::before {
        width: 70px;
        height: 70px; } }

.page__preview {
  -o-object-fit: cover;
  object-fit: cover;
  max-height: 100%; }

.page__video-polygon {
  position: absolute;
  z-index: 3;
  top: 50%;
  left: 50.4%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  background-repeat: no-repeat; }
  @media (max-width: 991px) {
    .page__video-polygon {
      width: 28px;
      height: 34px; } }
  @media (max-width: 768px) {
    .page__video-polygon {
      width: 22px;
      height: 22px; } }
  @media (max-width: 499px) {
    .page__video-polygon {
      width: 20px;
      height: 20px;
      left: 50.5%; } }

.page__input {
  max-width: 380px;
  width: 100%;
  padding: 1.6rem;
  border: 1px solid #000;
  font-size: 1.7rem;
  font-family: 'Inter';
  font-weight: 400;
  color: #000;
  margin-bottom: 2rem;
  resize: none; }
  .page__input--rev {
    width: 100%;
    max-width: none; }
  @media (max-width: 1199px) {
    .page__input {
      font-size: 1.25rem;
      padding: 1.1rem; } }
  .page__input::-moz-placeholder {
    font-size: 1.7rem;
    font-family: 'Inter';
    font-weight: 400;
    color: rgba(0, 0, 0, 0.3); }
  .page__input:-ms-input-placeholder {
    font-size: 1.7rem;
    font-family: 'Inter';
    font-weight: 400;
    color: rgba(0, 0, 0, 0.3); }
  .page__input::placeholder {
    font-size: 1.7rem;
    font-family: 'Inter';
    font-weight: 400;
    color: rgba(0, 0, 0, 0.3); }
    @media (max-width: 1199px) {
      .page__input::-moz-placeholder {
        font-size: 1.25rem; }
      .page__input:-ms-input-placeholder {
        font-size: 1.25rem; }
      .page__input::placeholder {
        font-size: 1.25rem; } }

.page__label {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start; }
  .page__label:hover .page__fake {
    border-width: 2px; }
  @media (max-width: 991px) {
    .page__label {
      align-items: center; } }

.page__check {
  display: none; }
  .page__check:checked + .page__fake::before {
    opacity: 1; }

.page__fake {
  position: relative;
  display: inline-block;
  width: 18px;
  height: 18px;
  border: 1px solid #000;
  margin-right: 1.5rem; }
  .page__fake::before {
    content: "";
    position: relative;
    display: block;
    width: 18px;
    height: 18px;
    background-image: url(../img/icons/check-icon.png);
    background-repeat: no-repeat;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity .2s linear;
    opacity: 0; }

.page__access {
  font-size: 1.5rem;
  font-family: 'Inter';
  font-weight: 400;
  color: #000; }
  @media (max-width: 1199px) {
    .page__access {
      font-size: 1.25rem; } }
  @media (max-width: 991px) {
    .page__access {
      font-size: 1rem; } }
  @media (max-width: 768px) {
    .page__access {
      font-size: .9rem; } }
  @media (max-width: 499px) {
    .page__access {
      font-size: 1.1rem; } }

.page__upload {
  display: none; }

.page__upload-btn {
  text-align: center; }
  @media (max-width: 768px) {
    .page__upload-btn {
      font-size: 1.3rem; } }

.swiper-slide {
  position: static; }

.swiper-container {
  padding-bottom: 120px; }
  @media (max-width: 991px) {
    .swiper-container {
      padding-bottom: 60px; } }
  @media (max-width: 768px) {
    .swiper-container {
      padding-bottom: 30px; } }

.swiper-button-prev,
.swiper-button-next {
  position: static;
  margin-left: 3.5rem;
  margin-top: 2rem;
  color: #000;
  background: none;
  border: none;
  outline: none;
  width: 8.75px;
  height: 17.5px; }
  @media (max-width: 499px) {
    .swiper-button-prev,
    .swiper-button-next {
      margin-left: 2rem;
      margin-top: 1rem; } }

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 1.8rem; }

.slider {
  margin-bottom: 8rem; }
  @media (max-width: 991px) {
    .slider {
      margin-bottom: 5rem; } }
  @media (max-width: 768px) {
    .slider {
      margin-bottom: 4rem; } }

.slide {
  position: relative; }

.page__slide-card {
  position: absolute;
  bottom: -105px;
  right: 315px;
  background-color: #eaeaea;
  padding: 4.5rem 5rem 6rem 5rem; }
  @media (max-width: 1599px) {
    .page__slide-card {
      bottom: -110px;
      right: 251px;
      padding: 1.5rem 3rem 3rem 3rem; } }
  @media (max-width: 1199px) {
    .page__slide-card {
      right: 150px;
      bottom: -20px;
      padding: 2rem; } }
  @media (max-width: 991px) {
    .page__slide-card {
      right: 0px;
      bottom: -20px;
      padding: 1rem; } }
  @media (max-width: 768px) {
    .page__slide-card {
      display: none; } }

.slide__text {
  font-size: 2rem;
  font-family: "Inter";
  font-weight: 400;
  color: #000;
  line-height: 1.3;
  margin-bottom: 23rem; }
  @media (max-width: 1199px) {
    .slide__text {
      margin-bottom: 2rem;
      font-size: 1.5rem; } }

.slide__img {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 240px; }
  @media (max-width: 1599px) {
    .slide__img {
      width: 200px; } }
  @media (max-width: 1199px) {
    .slide__img {
      display: none; } }

.slider__bottom {
  display: flex;
  align-items: center; }

@media (max-width: 768px) {
  .slide__name {
    font-size: 1rem; } }

@media (max-width: 768px) {
  .slide__prof {
    font-size: 1rem; } }

.catalog {
  padding: 8rem 0rem; }
  @media (max-width: 768px) {
    .catalog {
      padding: 2rem 0; } }

.catalog__block {
  padding: 5rem 0rem 5rem;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; }
  @media (max-width: 768px) {
    .catalog__block {
      padding: 1rem 0rem 1rem; } }

.catalog__block-item {
  margin-top: 4rem; }
  @media (max-width: 768px) {
    .catalog__block-item {
      margin-top: 2rem; } }

.catalog__block-top {
  cursor: pointer;
  position: relative; }
  .catalog__block-top::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background-color: #D8D8D8;
    opacity: 0;
    transition: opacity .2s linear; }
  .catalog__block-top:hover::before {
    opacity: 30%; }

.catalog__block-name {
  font-size: 2rem;
  color: #000;
  font-family: 'Raleway';
  font-weight: 500;
  text-align: center; }
  @media (max-width: 768px) {
    .catalog__block-name {
      font-size: 1.5rem; } }

.catalog__novelty {
  padding: 5rem 0rem 5rem; }
  @media (max-width: 768px) {
    .catalog__novelty {
      padding: 1rem 0rem 1rem; } }

.catalog__choice {
  display: flex;
  justify-content: space-between;
  margin-top: 4rem; }
  @media (max-width: 991px) {
    .catalog__choice {
      flex-direction: column; } }

.catalog__choice-left {
  display: flex; }
  @media (max-width: 991px) {
    .catalog__choice-left {
      flex-direction: column;
      align-items: center; } }

.catalog__choice-right {
  display: flex; }
  @media (max-width: 991px) {
    .catalog__choice-right {
      flex-direction: column;
      align-items: center; } }

.catalog__roll {
  display: flex;
  order: 1;
  padding: 1.5rem 1.6rem;
  border: 1px solid #000;
  background-color: #fff;
  color: #000;
  outline: none;
  margin-bottom: 4rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-family: inherit;
  font-size: 1.7rem; }
  @media (max-width: 991px) {
    .catalog__roll {
      width: 100%; } }

.catalog__roll-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  color: #000;
  width: 100%; }

.catalog__pagination-block {
  display: flex;
  align-items: center;
  justify-content: center; }

.catalog__pagination-item {
  cursor: pointer;
  padding: 1rem;
  font-size: 1.7rem;
  font-family: 'Inter';
  font-weight: 400;
  color: #000;
  transition: background-color .2s linear; }
  .catalog__pagination-item:first-child {
    transform: rotate(180deg); }
  .catalog__pagination-item:hover {
    background-color: #F4F4F4; }
  .catalog__pagination-item--active {
    background-color: #000;
    color: #fff; }
    .catalog__pagination-item--active:hover {
      background-color: #000;
      color: #fff; }
  .catalog__pagination-item > a {
    color: inherit; }

.catalog__choice-wrapper {
  position: relative; }
  .catalog__choice-wrapper:first-child {
    margin-right: 2rem; }
    @media (max-width: 991px) {
      .catalog__choice-wrapper:first-child {
        margin: 0; } }
  .catalog__choice-wrapper:last-child {
    margin: 0; }
  .catalog__choice-wrapper:hover::before {
    transform: rotate(180deg);
    top: 15%;
    right: 10px; }
  .catalog__choice-wrapper::before {
    content: "";
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    background-image: url(../img/icons/down-arrow-black.png);
    background-repeat: no-repeat;
    right: 5px;
    top: 21%;
    transition: transform .2s linear; }
  @media (max-width: 991px) {
    .catalog__choice-wrapper {
      width: 75%; } }
  @media (max-width: 768px) {
    .catalog__choice-wrapper {
      width: 100%; } }

.favorites {
  padding: 8rem 0rem; }

.favorites__top {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  @media (max-width: 499px) {
    .favorites__top {
      flex-direction: column;
      align-items: flex-start; }
      .favorites__top > button {
        margin-top: 1rem; } }

.favorites__cards {
  margin-top: 5rem;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start; }
  @media (max-width: 1199px) {
    .favorites__cards {
      justify-content: center; } }

.favorites__card-item {
  margin-bottom: 3.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
  width: 31.33333%; }
  @media (max-width: 768px) {
    .favorites__card-item {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center; } }

.favorites__delete--all {
  font-size: 1.7rem;
  color: rgba(0, 0, 0, 0.4);
  font-family: 'Raleway';
  font-weight: 500;
  border: none;
  background: none;
  cursor: pointer;
  padding: 0; }

.favorite__card-img {
  margin-bottom: 2rem;
  position: relative; }
  .favorite__card-img:hover .favorite__delete-btn {
    opacity: 1; }

.favorite__delete-btn {
  position: absolute;
  width: 35px;
  height: 35px;
  background-color: #fff;
  border-radius: 50%;
  right: 15px;
  top: 15px;
  background-image: url(../img/icons/close-icon.png);
  background-size: 13px;
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 50%;
  opacity: 0;
  border: none;
  transition: opacity .2s linear, transform .2s linear;
  cursor: pointer; }
  .favorite__delete-btn:hover {
    transform: rotate(15deg); }
  @media (max-width: 499px) {
    .favorite__delete-btn {
      width: 30px;
      height: 30px;
      background-size: 11px; } }

.reviews {
  padding: 8rem 0rem; }
  @media (max-width: 768px) {
    .reviews {
      padding: 2rem 0rem; } }

.reviews__inner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }

.reviews__left {
  width: 60%; }
  @media (max-width: 991px) {
    .reviews__left {
      width: 100%;
      order: 2; } }

.reviews__right {
  width: 35%; }
  @media (max-width: 991px) {
    .reviews__right {
      width: 100%;
      order: 1; } }

.reviews__top {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.reviews__top-left {
  display: flex;
  align-items: center; }
  @media (max-width: 499px) {
    .reviews__top-left {
      flex-direction: column;
      align-items: flex-start; } }

.reviews__item {
  margin: 2rem 0rem 4rem; }

.reviews__top-name {
  font-size: 2rem;
  font-family: 'Raleway';
  font-weight: 700;
  color: #000;
  margin-right: 1.5rem; }

.reviews__top-date {
  font-size: 1.5rem;
  font-family: 'Inter';
  font-weight: 400;
  color: rgba(0, 0, 0, 0.4); }

.reviews__link {
  font-size: 1.5rem;
  color: rgba(0, 0, 0, 0.4);
  font-family: 'Inter'; }

.reviews__text {
  font-size: 1.7rem;
  font-family: 'Inter';
  font-weight: 400;
  line-height: 1.2; }

.reviews__photos {
  display: flex; }
  .reviews__photos > div {
    margin-right: 1.5rem; }
    .reviews__photos > div:last-child {
      margin-right: 0; }

.fslightbox-toolbar:nth-child(1) {
  background: none; }

.fslightbox-toolbar:nth-child(7) {
  background: none; }

.fslightbox-toolbar:nth-child(1) {
  background: none; }

.fslightbox-toolbar-button {
  background: none; }
  .fslightbox-toolbar-button:first-child {
    display: none; }

.fslightbox-toolbar-button:nth-child(1) {
  order: 7; }

.fslightbox-toolbar-button:nth-child(2) {
  position: relative;
  top: 15px;
  right: 15px; }

.fslightbox-slide-number-container {
  display: none; }

.review__input {
  width: 100%;
  display: flex; }

.reviews__access {
  display: flex;
  align-items: flex-start;
  margin-top: 2rem;
  margin-bottom: 2rem; }

.reviews__load {
  width: 100%; }

.footer {
  background-color: #000;
  color: #fff;
  padding-top: 7rem; }

.footer__inner {
  position: relative;
  display: flex;
  flex-wrap: wrap; }

.footer__col {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .footer__col--links {
    margin-left: 10rem; }
    @media (max-width: 768px) {
      .footer__col--links {
        margin-left: 0; } }
  @media (max-width: 1199px) {
    .footer__col--top {
      margin: 0 auto; } }
  @media (max-width: 768px) {
    .footer__col--top > button {
      display: none; } }
  @media (max-width: 768px) {
    .footer__col {
      width: 100%;
      text-align: center; } }
  @media (max-width: 499px) {
    .footer__col {
      text-align: left; } }

.footer__roll {
  display: none; }
  @media (max-width: 768px) {
    .footer__roll {
      display: flex;
      width: 100%;
      order: 1;
      padding: 1.5rem 1.6rem;
      border: 1px solid #fff;
      background-color: #000;
      color: #fff;
      outline: none;
      margin-bottom: 4rem; } }

.footer__roll-item {
  background-color: #fff;
  color: #000;
  width: 100%; }

.footer__logo {
  height: 40px;
  width: auto;
  margin-bottom: 4rem; }
  @media (max-width: 768px) {
    .footer__logo {
      margin-bottom: 3rem; } }

.footer__address-link {
  font-size: 2rem;
  color: #fff;
  font-family: 'Raleway';
  font-weight: 500;
  font-style: normal;
  margin-bottom: 0.4rem; }
  @media (max-width: 768px) {
    .footer__address-link {
      font-size: 1.5rem; } }

.footer__schedule {
  font-size: 1.7rem;
  color: rgba(255, 255, 255, 0.4);
  font-family: 'Inter';
  margin-bottom: 14rem; }
  @media (max-width: 768px) {
    .footer__schedule {
      margin-bottom: 4rem;
      font-size: 1.3rem; } }

.footer__col-name {
  margin-bottom: 2.4rem; }
  @media (max-width: 768px) {
    .footer__col-name {
      display: none; } }

.footer__col-title {
  font-size: 2rem;
  color: #fff;
  font-family: 'Raleway';
  font-weight: 500; }

.footer__col-links {
  display: flex;
  flex-direction: column;
  margin-right: 10rem; }
  .footer__col-links:last-child {
    margin-right: 0; }
  @media (max-width: 768px) {
    .footer__col-links {
      display: none; }
      .footer__col-links:last-child {
        display: flex; } }

.footer__col-link {
  font-size: 1.7rem;
  color: #fff;
  text-decoration: none;
  font-family: 'Inter';
  margin-top: .4rem;
  margin-bottom: .4rem; }
  @media (max-width: 768px) {
    .footer__col-link {
      font-size: 1.5rem;
      text-align: left;
      margin-bottom: 0.8rem; } }

.footer__links-block {
  display: flex;
  align-items: flex-start;
  order: 2; }

.footer__bottom {
  border-top: 1px solid rgba(255, 255, 255, 0.12);
  padding: 4rem 0 4rem;
  margin-top: 4rem; }
  @media (max-width: 768px) {
    .footer__bottom {
      border: none; } }

.footer__credits {
  display: flex;
  justify-content: space-between; }
  @media (max-width: 768px) {
    .footer__credits {
      flex-direction: column; } }

.footer__bottom-credits {
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.3);
  font-family: 'Inter'; }
  @media (max-width: 768px) {
    .footer__bottom-credits {
      margin-bottom: 1.2rem; }
      .footer__bottom-credits:last-child {
        margin-bottom: 0; } }

.footer-up {
  border-top: 1px solid rgba(0, 0, 0, 0.1); }

.footer-up__inner {
  display: flex;
  align-items: center;
  padding: 3rem 0rem; }
  @media (max-width: 499px) {
    .footer-up__inner {
      justify-content: flex-start;
      margin-left: -1.5rem; } }

.footer-up__link {
  color: rgba(0, 0, 0, 0.4);
  font-family: 'Raleway';
  font-weight: 500;
  font-size: 1.7rem;
  margin: 0rem 2rem; }
  @media (max-width: 991px) {
    .footer-up__link {
      font-size: 1.5rem; } }
  @media (max-width: 768px) {
    .footer-up__link {
      font-size: 1.4rem; } }
  @media (max-width: 499px) {
    .footer-up__link {
      font-size: 0.95rem; } }

.footer-up__icon {
  width: 20px;
  height: 20px;
  margin: -1rem; }
  @media (max-width: 991px) {
    .footer-up__icon {
      width: 16px;
      height: 16px; } }

/*# sourceMappingURL=main.css.map */
