.search {
  display: none;

  &--active {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 1000;
    top: 0;
    left: 0;
    overflow: hidden;
    display: block;
  }
}

.search__inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  margin-top: 5rem;
}

.search__input {
  width: 100%;
  font-family: 'Raleway';
  font-size: 5.5rem;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  outline: none;
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: $black;
  font-weight: 500;

  &::placeholder {
    position: relative;
    font-family: 'Raleway';
    font-size: 5.5rem;
    color: rgba(0, 0, 0, 0.2);
    font-weight: 500;

    @media(max-width: (991px)) {
      font-size: 4.5rem;
    }

    @media (max-width: (768px)) {
      font-size: 3rem;
    }

    @media (max-width: (499px)) {
      font-size: 2.5rem;
    }
  }

  @media(max-width: (991px)) {
    font-size: 4.5rem;
  }

  @media (max-width: (768px)) {
    font-size: 3rem;
  }

  @media (max-width: (499px)) {
    font-size: 2.5rem;
  }
}

.search__close {
  display: flex;
  justify-content: flex-end;


  & > button {
    border: none;
    background: none;
    transition: transform .2s linear;

    &:hover {
      transform: rotate(15deg);
    }
  }
}

.search__close-img {
  width: 16px;
  height: 16px;
}