<footer class="footer">
  <div class="container">
    <div class="footer__inner">
      <div class="footer__col footer__col--top">
        <div class="footer__img">
          <img src="img/icons/logo-icon-white.png" alt="" class="footer__logo">
        </div>
        <address class="footer__address">
          <a target="_blank" class="footer__address-link" href="https://goo.gl/maps/pqgMo8Ffp7KNUPcH9">г. Москва, ул. Пятницкая, 39</a>
        </address>
        <div class="footer__schedule">
          Работаем Пн-Пт 10:00 - 21:00 
        </div>
        <button class="white__button">Подписаться рассылку и акции</button>
      </div><!-- ./footer__col -->

      <div class="footer__col footer__col--links">
        <div class="footer__col-name">
          <h3 class="footer__col-title">Каталог</h3>
        </div>
        <div class="footer__links-block">
          <div class="footer__col-links">
            <a href="#" class="footer__col-link">Диваны</a>
            <a href="#" class="footer__col-link">Диван-кровати</a>
            <a href="#" class="footer__col-link">Кровати и тахты</a>
            <a href="#" class="footer__col-link">Кресла</a>
            <a href="#" class="footer__col-link">Стулья</a>
            <a href="#" class="footer__col-link">Пуфы и банкетки</a>
            <a href="#" class="footer__col-link">Комоды и консоли</a>
            <a href="#" class="footer__col-link">Обеденный стол</a>
            <a href="#" class="footer__col-link">Стеллажи</a>
          </div>
          <div class="footer__col-links">
            <a href="#" class="footer__col-link">Журнальные столы</a>
            <a href="#" class="footer__col-link">Тумбы и комоды</a>
            <a href="#" class="footer__col-link">Мебель для TV</a>
            <a href="#" class="footer__col-link">Зеркала</a>
            <a href="#" class="footer__col-link">Ковры</a>
            <a href="#" class="footer__col-link">Матрасы </a>
          </div>
          <div class="footer__col-links">
            <a href="tel:+78001234567" class="footer__col-link">+7 (800) 123-45-67</a>
            <a href="mailto:testmail@gmail.com" class="footer__col-link">info@furman</a>
            <a href="https://www.instagram.com/" class="footer__col-link">Instagram</a>
            <a href="https://www.facebook.com/" class="footer__col-link">Facebook </a>
            <a href="https://www.vk.com/" class="footer__col-link">Vkontakte</a>
          </div>
        </div>

        <select class="footer__roll" size="1">
          <option value="" class="footer__roll-item">Каталог</option>
          <option value="" class="footer__roll-item">Диваны</option>
          <option value="" class="footer__roll-item">Диван-кровати</option>
          <option value="" class="footer__roll-item">Кровати и тахты</option>
          <option value="" class="footer__roll-item">Кресла</option>
          <option value="" class="footer__roll-item">Стулья</option>
          <option value="" class="footer__roll-item">Пуфы и банкетки</option>
          <option value="" class="footer__roll-item">Комоды и консоли</option>
          <option value="" class="footer__roll-item">Обеденный стол</option>
          <option value="" class="footer__roll-item">Стеллажи</option>
          <option value="" class="footer__roll-item">Журнальные столы</option>
          <option value="" class="footer__roll-item">Тумбы и комоды</option>
          <option value="" class="footer__roll-item">Мебель для TV</option>
          <option value="" class="footer__roll-item">Зеркала</option>
          <option value="" class="footer__roll-item">Ковры</option>
          <option value="" class="footer__roll-item">Матрасы </option>
        </select>

        <button id="2" class="white__button white__button--footer">Подписаться рассылку и акции</button>

      </div>

      <button class="up__button up__button--footer">
        <a href="#top">Наверх</a>
      </button>

    </div><!-- /.footer__inner -->
  </div>
  <div class="footer__bottom">
    <div class="container">
      <div class="footer__credits">
        <span class="footer__bottom-credits">© 2021 Интернет-магазин мебели Furman</span>
        <span class="footer__bottom-credits">Политика конфиденциальности</span>
        <span class="footer__bottom-credits">Разработка сайта — Markello</span>
      </div>
    </div>
  </div>
</footer>
