<header class="header">
  <div class="container">
    <div class="header__inner">
      <div class="header__logo">
        <a href="index.html">
          <img
            src="img/icons/logo-icon.png"
            alt="logo"
            class="header__logo-img"
          />
        </a>
      </div>

      <nav class="header__nav">
        <ul class="header__nav-container">
          <li class="header__nav-item">
            <a class="header__nav-link" href="catalog.html"> Каталог </a>
          </li>
          <li class="header__nav-item">
            <a class="header__nav-link" href="catalog.html"> Наличие </a>
          </li>
          <li class="header__nav-item">
            <a class="header__nav-link" href="about.html"> О бренде </a>
          </li>
          <li class="header__nav-item">
            <a class="header__nav-link" href="stocks.html"> Акции </a>
          </li>
          <li class="header__nav-item">
            <a class="header__nav-link" href="reviews.html"> Отзывы </a>
          </li>
          <li class="header__nav-item">
            <a class="header__nav-link" href="contact.html"> Контакты </a>
          </li>
          <li class="header__nav-item">
            <a
              class="header__nav-link header__nav-link--tel"
              href="tel:+79104961906"
            >
              +7 910 496-19-06
            </a>
          </li>
        </ul>
      </nav>
      <!-- ./header__nav -->

      <div class="burger">
        <div class="menu">
          <a href="#" class="menu__btn">
            <img src="img/icons/burger-icon.png" alt="burger" />
          </a>
          <nav class="menu__list">
            <div class="menu__list-header">
              <button class="menu__close">
                <span></span>
              </button>

              <input type="text" placeholder="Поиск" class="menu__input" />

              <button class="header__buttons-item">
                <svg class="header__buttons-icon">
                  <use xlink:href="#search-icon"></use>
                </svg>
              </button>
            </div>
            <!-- ./menu__list-header -->

            <div class="menu__list-nav">
              <div class="menu__nav-item">
                <a class="menu__nav-link" href="catalog.html">Каталог</a>
                <img
                  class="menu__nav-img"
                  src="img/icons/right-black-arrow.png"
                  alt="arrow"
                />
              </div>
              <!-- ./menu__nav-item -->

              <div class="menu__nav-item">
                <a class="menu__nav-link" href="catalog.html">Наличие</a>
                <img
                  class="menu__nav-img"
                  src="img/icons/right-black-arrow.png"
                  alt="arrow"
                />
              </div>
              <!-- ./menu__nav-item -->

              <div class="menu__nav-item">
                <a class="menu__nav-link" href="about.html">О бренде</a>
                <img
                  class="menu__nav-img"
                  src="img/icons/right-black-arrow.png"
                  alt="arrow"
                />
              </div>
              <!-- ./menu__nav-item -->

              <div class="menu__nav-item">
                <a class="menu__nav-link" href="stocks.html">Акции</a>
                <img
                  class="menu__nav-img"
                  src="img/icons/right-black-arrow.png"
                  alt="arrow"
                />
              </div>
              <!-- ./menu__nav-item -->

              <div class="menu__nav-item">
                <a class="menu__nav-link" href="reviews.html">Отзывы</a>
                <img
                  class="menu__nav-img"
                  src="img/icons/right-black-arrow.png"
                  alt="arrow"
                />
              </div>
              <!-- ./menu__nav-item -->

              <div class="menu__nav-item">
                <a class="menu__nav-link" href="contact.html">Контакты</a>
                <img
                  class="menu__nav-img"
                  src="img/icons/right-black-arrow.png"
                  alt="arrow"
                />
              </div>
              <!-- ./menu__nav-item -->
            </div>
            <!-- ./menu__list-nav -->

            <div class="menu__list-footer">
              <a class="header__nav-link header__nav-link--tel" href="tel:+79104961906">+7 910 496-19-06</a>
            </div>

            <div class="menu__nav-footer"></div>
          </nav>
          <!-- ./menu__list -->
        </div>
      </div>
      <!-- ./ burger -->

      <div class="header__buttons">
        <button class="header__buttons-item">
          <a href="favorites.html">
            <svg class="header__buttons-icon">
              <use xlink:href="#love-icon"></use>
            </svg>
          </a>
        </button>
        <button class="header__buttons-item header__buttons-item--hidden">
          <svg class="header__buttons-icon">
            <use xlink:href="#search-icon"></use>
          </svg>
        </button>
      </div>
    </div>
    <!-- ./header__inner -->
  </div>
  <!-- ./container -->
</header>
<!-- ./header -->

<svg display="none">

  <symbol id="search-icon" viewBox="0 0 512 512">
    <path
      d="M225.474,0C101.151,0,0,101.151,0,225.474c0,124.33,101.151,225.474,225.474,225.474
        c124.33,0,225.474-101.144,225.474-225.474C450.948,101.151,349.804,0,225.474,0z M225.474,409.323
        c-101.373,0-183.848-82.475-183.848-183.848S124.101,41.626,225.474,41.626s183.848,82.475,183.848,183.848
        S326.847,409.323,225.474,409.323z"
    />
    <path
      d="M505.902,476.472L386.574,357.144c-8.131-8.131-21.299-8.131-29.43,0c-8.131,8.124-8.131,21.306,0,29.43l119.328,119.328
        c4.065,4.065,9.387,6.098,14.715,6.098c5.321,0,10.649-2.033,14.715-6.098C514.033,497.778,514.033,484.596,505.902,476.472z"
    />
  </symbol>
</svg>
