<div class="modal__review">
  <div class="modal__review-container">

    <div class="modal__review-header">
      <img src="img/reviews/ph-7.png" alt="" class="modal__review-bg">
      <button class="modal__review-exit">
        <img class="modal__review-close" src="img/icons/close-icon.png" alt="close">
      </button>
    </div>

    <div class="modal__review-content">
      <h2 class="modal__title modal__title--review">Соберите <br> неповторимый диван</h2>

      <form class="form-modal-review">
        <input class="page__input" type="hidden" name="admin_email[]" value="maxgraph23@gmail.com">
        <input class="page__input" type="hidden" name="form_subject" value="Заявка с сайта Сайт">

        <div class="page__input-wrapper">
          <input class="page__input" type="text" name="fio" data-validate-field="fio" placeholder="Имя">
        </div>

        <div class="page__input-wrapper">
          <input class="page__input" type="tel" name="tel" data-validate-field="tel" placeholder="Номер телефона">
        </div>


        <label class="page__label page__label--review">
          <input type="checkbox" class="page__check">
          <span class="page__fake"></span>
          <span class="page__access">Я даю согласие на обработку персональных данных и соглашаюсь с политикой конфиденциальности.</span>
        </label>

        <button type="submit" class="black__button black__button--full">Заказать звонок</button>
      </form>
    </div><!-- ./modal__review-content -->
  </div><!-- ./modal__review-container -->
</div><!-- ./modal__review -->